body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.App {
  text-align: center;
}

#name{
  margin-bottom: 2rem;
}

#search{
  padding: 3px 1.5rem;
}

form{
  margin-bottom: 2rem;
}

.book{
  text-align: left;
}

.title-book{
  font-weight: bold;
  font-style: italic;
}
.author{
  color: blue;
  font-weight: normal;
  font-style: normal;
}

.categories{
  color: red;
  font-weight: bold;
}

hr{
  width: 50%;
  margin: 5rem auto;
}

.title-book:last-child hr{
  display:none;
}